extends layout

block content
  h1= title
  p Welcome to #{title}
  if user
    p Hello, #{user.username}
    div#root
    div#rootSecond
    a(href="/logout") Logout
  else
    a(href="/login") Login