extends layout

block content
  h1= title
  p Welcome to #{title}
  if user
    p Hello, #{user.username}
    a(href="/logout") Logout
  else
    a(href="/login") Login
  h1 魔王吉村があらわれた！HP 20000
  div(id="area")

  button(id="button") 攻撃する！
  script(src="/javascripts/bundle.js")