extends layout

block content
  h1= title
  p Welcome to #{title}
  if user
    p Hello, #{user.username}
    a(href="/logout") Logout
  else
    a(href="/login") Login
  h1#root
  h2.roots
  h2.roots
  h2.roots
  h2.roots
  h2.roots
  h2.roots