doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(defer, src="/javascripts/bundle.js")
    //script(defer, src="/javascripts/b.bundle.js")
  body
    block content
